.theme-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.transparent-btn {
  background-color: $theme-transparant;
  border-radius: 4px;
  align-items: center;
}
.input-copy-link {
  input {
    border: none;
  }
}
.video-container {
  position: relative;
  grid-gap: 10px;
  padding: 0 10px;
  // grid-template-columns: repeat(4, 80px);
  // grid-template-rows: repeat(3, 100px);
  justify-content: center;
  align-content: end;
  display: block;
  align-items: center;

  &.bp1 {
    display: block;
    .item {
      margin: 0 auto;
      height: 40vh;
      width: 80%;
    }
    .invitelink .item {
      width: 100%;
    }
    .copy-link-action {
      display: block;
      .input-copy-link {
        width: 100%;
      }
    }
  }
  &.bp1.bp2 {
    display: flex;
    .item {
      margin: 0 auto;
      height: 90%;
      width: 50%;
    }
    .invitelink .item {
      width: 50%;
    }
    .copy-link-action {
      display: flex;
      .input-copy-link {
        width: 100%;
      }
    }
  }
  @media (min-width: 767px) {
    height: calc(100vh - 160px);
    display: flex;
  }
  .video-holder {
    background-position: top;
    background-size: cover;
    height: 100%;
    border-radius: 20px;
  }
  .item {
    background: $theme-transparant;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 37vh;
    box-shadow: 0 1px 4px $theme-transparant-grey;
    @media (min-width: 767px) {
      height: 70%;
    }
    @media (min-width: 991px) {
      height: 100%;
    }
  }
  &.invitelink {
  }
}
.footer-stick-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
}
.control-action {
  h6 {
    color: #fff;
    font-size: 12px;
    margin: 5px 0;
    text-align: center;
  }
  .btn-control-transparant.btn-sm {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 6px;
  }
  span {
    background-position: center;
  }
}
.illustration-blue {
  background-color: #1b9c84;
  display: flex;
}
.body-QFTB {
  background-color: $theme-light-cream;
  padding-left: 48px;
  padding-right: 48px;
  background-image: url("../images/landing/bird.png");
  background-size: 165px 121px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  text-align: left;
}
.rec-icon-circle {
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: $theme-orange;
  display: inline-block;
  // margin: 17px 12px 0 0;
}
.footer-record {
  border-top: solid 1px $theme-transparant-grey;
  .btn {
    height: 47px;
    width: 100%;
  }
}
.theme-offcanvas {
  display: flex;
  flex-flow: row nowrap;
  will-change: width;
  &.show-nav {
    .sidenav {
      display: block;
    }
    .wrapper {
      padding-right: 375px;
    }
    .footer-stick-bottom {
      padding-right: 375px;
    }
  }
  .wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
  }
  .sidenav {
    flex-shrink: 0;
    height: 100%;
    z-index: 2;
    width: 375px;
    background: #f4f4f4;
    top: 0;
    right: 0;
    position: fixed;
    display: none;
    .switch-ui .nav .nav-link {
      min-width: 110px;
    }
  }
}
.switch-ui {
  display: flex;
  align-items: center;
  justify-content: center;
  .nav {
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    .nav-link {
      border-radius: 12px;
      color: #000;
      min-width: 182px;
      text-align: center;
      padding: 11px 12px;
      font-weight: 600;
    }
    .nav-link.active {
      background-color: #fff;
      color: $theme-blue;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    }
  }
}
.chat-empty {
  height: 80vh;
  display: flex;
  align-items: center;
}
.chatReactions {
  border: none;
  background: transparent;
}
.jstest-chatmessage-input-field {
  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
}
.avatarWrapper {
  height: 40px;
  width: 40px;
  border-radius: $border-radius;
  background-color: $theme-1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.display-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-bullet {
  list-style: none;
  li {
    margin: 0 0 30px;
    position: relative;
    padding-left: 24px;
    &:before {
      content: "●";
      height: 10px;
      width: 10px;
      font-size: 24px;
      left: 0;
      color: rgb(27, 156, 132);
      position: absolute;
      line-height: 20px;
    }
  }
}

footer {
  h1 {
    font-size: 24px;
    color: $theme-transparant-dark;
    margin-bottom: 20px;
  }
  a {
    display: block;
    color: $theme-transparant-dark;
    font-size: 16px;
    margin: 10px 0;
    &:hover {
      color: $theme-transparant-dark;
    }
  }
}

.avocado-home {
  .navbar-nav .nav-link {
    font-size: 18px;
    color: #000;
  }
  footer a {
    color: $theme-transparant-dark;
  }
}

.index-hero-title {
  font-size: 40px;
  @media (min-width: 767px) {
    font-size: 80px;
  }
}
.theree-bird-image {
  position: absolute;
  right: 0;
  top: 39px;
  z-index: -2;
  width: 43%;
}
.starRating--item--aZoTA {
  margin: 0 4px;
  height: 32px;
  width: 32px;
}

.index--Hero-butterflyImg {
  position: absolute;
  right: 256px;
  top: -40px;
  z-index: -1;
  @media (min-width: 768px) {
    right: 1000px;
    top: -128px;
  }
}
.meetingsApi {
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 120px auto;
  box-shadow: 0 8px 16px $theme-transparant-grey,
    0 1px 4px $theme-transparant-grey;
}
.index--Api-predatorImg {
  position: absolute;
  z-index: 0;
  bottom: -44px;
  width: 160px;
  left: -50px;
  @media (min-width: 767px) {
    left: -50px;
    width: 260px;
    bottom: 26px;
  }
}
.index--cloudsImg {
  position: absolute;
  width: 300px;
  @media (min-width: 767px) {
    right: 40px;
    bottom: 0;
  }
}
.testimonial {
  padding-bottom: 180px;
  @media (min-width: 767px) {
  }
}

.index--itemVideo {
  max-width: 400px;
  width: 100%;
}
.min-height-50 {
  min-height: 50px;
}
.text-grey {
  color: $theme-transparant-dark;
}
