.main-layout {
  font-family: "Inter", sans-serif;
}
.side-link {
  a {
    color: #000;
    margin: 20px 0;
    display: block;
    &.active {
      position: relative;
      padding-left: 22px;
      &:before,
      &:after {
        position: absolute;
        left: 6px;
      }
      &:before {
        display: block;
        width: 9px;
        height: 9px;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        transform: rotate(135deg);
        content: "";
        top: 6px;
      }
      &:after {
        content: "";
        display: block;
        width: 2px;
        height: 12px;
        background-color: black;
        transform: rotate(-90deg) translate(15px, 1px);
        top: 20px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}
.flip-image {
  transform: scaleX(-1);
  width: 50%;
  position: relative;
  width: 80%;
  float: right;
  @media (min-width: 991px) {
    right: -180px;
  }
}
.hamburgerIcon {
  cursor: pointer;
  height: 21px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  width: 32px;
  background: transparent;
  outline: none;
  &:focus {
    outline: none;
  }
  &[aria-expanded="true"] {
    span:nth-child(1) {
      left: 50%;
      top: 9px;
      width: 0%;
    }
    span:nth-child(2) {
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
    }
    span:nth-child(4) {
      left: 50%;
      top: 9px;
      width: 0%;
    }
  }
  span {
    background: black;
    border-radius: 3px;
    display: block;
    height: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    width: 100%;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 9px;
    }
    &:nth-child(4) {
      top: 18px;
    }
  }
}
