$primary: #f8dbd5;
$theme-blue: #2b189b;
$theme-1: #006654;
$theme-orange: #f26b4d;
$theme-transparant: rgba(0, 0, 0, 0.56);
$theme-transparant-dark: rgba(0, 0, 0, 0.72);
$theme-transparant-grey: rgba(0, 0, 0, 0.12);
$theme-light-cream: #f8e3c8;
$border-radius: 10px;
$theme-white: #f4f4f4;
